{% extends 'modelo.html' %}


{% block content %}
<!-- <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Cartão de Crédito ({{nome_cartao}}) - Fatura Atual</h1>
    </div> -->

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{nome_cartao}} - Fatura {{mes}}</h1>
</div>
<div>
    {% for mes in meses_cartao_credito %}
    <a href="{% url 'cartao' id mes %}" class="btn btn-success" value="{{mes}} float-right">{{mes}}</a>
    {% endfor %}
</div>
<hr>
<div class="table-responsive">

    <table class="table table-striped">
        <thead>
            <tr>
                <!-- <th>Fatura</th> -->
                <th>Data</th>
                <th>Descrição</th>
                <th>Fornecedor</th>
                <th>Parcelamento</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for despesa in cartao %}
            <tr>
                <!-- <td>{{despesa.fatura}}</td> -->
                <td>{{despesa.data}}</td>
                <td>{{despesa.descricao}}</td>
                <td>{{despesa.fornecedor}}</td>
                <td>{{despesa.parcelamento}}</td>
                <td>R$ {{despesa.valor}}</td>
                <td>
                    <a href="{%url 'editar-despesa-cartao' despesa.id %}" class="btn btn-warning btn-sm" title="Editar">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a href="{%url 'excluir-despesa-cartao' despesa.id %}" class="btn btn-danger btn-sm" title="Excluir">
                        <i class="fa fa-trash fa-solid" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {% empty %}

            <tr>
                <td colspan="6">
                    <h3><span style="color: red;">Sem registros</span></h3>
                </td>
            </tr>

            {% endfor %}
            <tr>
                <td colspan="6"></td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td>
                    <strong>VALOR TOTAL</strong>
                </td>
                <td>
                    <strong>R$ {{soma_valor}}</strong>
                </td>
                <td>
                   
                </td>
            </tr>


        </tbody>
    </table>

</div>

{% endblock %}