{% extends 'modelo.html' %}


{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-12 px-md-4">

    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Finanças Pessoais - Resumo Anual</h1>
        <div>
            {% for ano in anos %}
            <a href="{% url 'resumo-anual' ano %}" class="btn btn-success" value="{{ano}} float-right">{{ano}}</a>
            {% endfor %}
        </div>
    </div>

    <table class="table table-striped" style="margin-top: 40px">
        <thead>
            <tr>
                <th style="text-align: center; color: red;">{{ano}}</th>
                <th>Janeiro</th>
                <th>Fevereiro</th>
                <th>Março</th>
                <th>Abril</th>
                <th>Maio</th>
                <th>Junho</th>
                <th>Julho</th>
                <th>Agosto</th>
                <th>Setembo</th>
                <th>Outubro</th>
                <th>Novembro</th>
                <th>Dezembro</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Receitas</th>
                {% for val in valores_mensaisRec %}
                <td>R$ {{ val }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Despesas</th>
                {% for val in valores_mensaisDes %}
                <td>R$ {{ val }}</td>
                {% endfor %}
            </tr>

            <tr>
                <td colspan="13"></td>
            </tr>

            <tr>
                <th>SALDO</th>
                {% for val in saldo %}
                <td>R$ {{val}}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    {% endblock %}