{% extends 'modelo.html' %}
{% load static %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Receita</h1>
</div>

<div class="table-responsive">

    <form action="?" method="GET">
        <input type="text" name="nome" id="" value="{{request.GET.nome}}" class="p-1 border" autocomplete="off"
            placeholder="Nome ou parte dele">

            <button type="submit" class="btn btn-success">Buscar</button>
            <a href="{% url 'listar-receita' %}" class="btn btn-danger">Limpar</a>
            <a href="{% url 'cadastrar-receita' %}" class="btn btn-primary" style="margin-left: 100px"> Adicionar Novo</a>
    </form>

    <hr>
    <div class="table-responsive">
        <table class="table table-striped" id="tabela-listar">
            <thead>
                <tr>                   
                    <th>Data</th>
                    <th>Categoria</th>
                    <th>Descricao</th>
                    <th>Forma de Pagamento</th>
                    <th>Parcelamento</th>
                    <th>Valor (R$)</th>
                    <!-- <th>Usuario</th> -->
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for receita in object_list %}
                <tr>                  
                    <td>{{ receita.dia }}/{{ receita.mes }}/{{ receita.ano }}</td>
                    <td>{{ receita.categoria }}</td>
                    <td>{{ receita.descricao }}</td>
                    <td>{{ receita.forma_de_pagamento }}</td>
                    <td>{{ receita.parcelamento }}</td>
                    <td>{{ receita.valor }}</td>
                    <!-- <td>{{ receita.usuario }}</td> -->
                    <td>{{ receita.status }}</td>
                    <td>
                        <a href="{% url 'editar-receita' receita.pk %}" class="btn btn-warning btn-sm" title="Editar">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="{% url 'excluir-receita' receita.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>

                    </td>
                </tr>
                {% empty %}

                <tr>
                    <td style="color:red" colspan="7">Nenhuma receita registrada</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>


        <!-- área de paginação -->

        <div class="text-center">
            {%if page_obj.has_previous%}

            {% if request.GET.descricao%}
            <a href="?page=1&descricao={{request.GET.descricao}}">Primeira</a>
            <a href="?page={{page_obj.previous_page_number}}&descricao={{request.GET.descricao}}">Voltar</a>
            {%else%}
            <a href="?page=1">Primeira</a>
            <a href="?page={{page_obj.previous_page_number}}">Voltar</a>
            {%endif%}

            {%endif%}


            <span>página {{page_obj.number}} de {{page_obj.paginator.num_pages}}</span>

            {%if page_obj.has_next%}

            {% if reqeust.GET.get.descricao%}
            <a href="?page={{page_obj.next_page_number}}&descricao={{request.GET.descricao}}">Próxima</a>
            <a href="?page={{page_obj.paginator.num_pages}}&descricao={{request.GET.descricao}}">Última</a>
            {%else%}

            <a href="?page={{page_obj.next_page_number}}">Próxima</a>
            <a href="?page={{page_obj.paginator.num_pages}}">Última</a>
            {%endif%}

            {%endif%}
        </div>
    </div>

</div>

{% endblock %}